.dadosCadastrais div{
    margin: 2vh 0 0;
}

ol{
    height: 50vh;
    overflow: auto;
    list-style: none;
    border: 1px solid #cecece;
    padding: 2vh 40px;
    counter-reset: item;
}

li{
    position: relative;
    counter-increment: item;
    margin: 1em 0;
    font-size: 0.9em;
}

li::before{
    content: counter(item)".";
    font-weight: bold;
    text-align: right;
    position: absolute;
    left: -25px;
    top: 0px;
    display: block;
    width: 20px;
    height: 20px;
    color: #0275d8;
}